ProfitDistribution/ProfitDistribution/bin/Debug/**/*
ProfitDistribution/ProfitDistribution/obj/**/*
ProfitDistribution/ProfitDistribution.Tests/bin/**/*
ProfitDistribution/ProfitDistribution.Tests/obj/**/*
**/*.DS_Store
**/*.vs/
**/*.idea/
